name: KBOT-CICD

on:
  push:
    branches:
      - dev
  
env:
  TARGETOS: linux
  TARGETARCH: amd64

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run test
        run: make test


      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build&Push
        env:
          APP: "kbot"
          REGISTRY: ghcr.io/${{ github.repository_owner }}
        run: make image push
        
      - name: Clean
        run: make clean
  
  cd:
    name: CD
    needs: ci
    runs-on: ubuntu-latest

    steps:  

    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - run: echo "VERSION=$(git describe --tags --abbrev=0)-$(git rev-parse --short HEAD)" >> $GITHUB_ENV  

    - name: Update Image Tag
      uses: mikefarah/yq@master
      with:
        cmd: yq eval -i '.image.tag=env(VERSION)' helm/values.yaml
      
    - name: Update Chart Version
      uses: mikefarah/yq@master
      with:
        cmd: yq -i '.version=strenv(VERSION)' helm/Chart.yaml

    - run: |
        git config user.name github-actions
        git config user.email github-actions@github.com
        git commit -am "Update version $VERSION"
        git push